<%= form_with(model: team_project) do |form| %>
  <% if team_project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team_project.errors.count, "error") %> prohibited this team_project from being saved:</h2>

      <ul>
        <% team_project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
