<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@700&display=swap" rel="stylesheet">
<div>
	<h1>Система управління проектами компаній</h1>
    <h2>Привіт! Це система керування проектами компаній, яка допоможе твоїй компанії швидко організовувати проекти в межах компанії: із відділу до команди, від команди до кожного працівника.       Додай компанію, створи відділ та назначай проекти різним командам!</h2>
 <%= link_to 'Компанії', '/companies', class: 'btn' %> 
<%= link_to 'Працівники', '/people', class: 'btn' %>
</div>
