<h1>Компанії</h1>

<table>
  <thead>
  <tr>
    <th>Назва</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <p><td><%= link_to "Перейти на сторінку  компанії", company %></td></p>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нова компанія', new_company_path %>
