<h1>Про компанію</h1>

<p>
  <strong>Назва:</strong>
  <%= @company.name %>
</p>

<%= link_to 'Редагувати', edit_company_path(@company) %> |
<%= link_to 'Повернутися', companies_path %>
<br>
<%= button_to 'Видалити', @company, method: :delete, data: { confirm: 'Are you sure?' } %>
